{% extends "base.html" %}

{% block heading %}
Wishlist Products                   
{% endblock heading %}

{% block body %}

<!-- breadcrumb start-->
  
  <!-- breadcrumb start-->
<section class="cart_area padding_top">
    <center>
        <h3>Wishlist</h3>
    </center>
    <div class="container">
        {% if not witems %}
            <h2 class="text-center">Your wish list is empty</h2>
            <div class="text-center">
                <a href="">Continue shopping..</a>
            </div>
        {% else %}

        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr style="height:2px;">
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th></th>
                    </tr>
                    </thead>
                    <tbody>      

                    {% for item in witems %}
                    <tr>
                    <td>
                    <div class="media">
                        <a class="d-flex" href="{% url 'singleproduct' item.product.id %}" >
                            <img style="height:71px"  src="{{item.product.img1.url}}" alt=""/>
                        </a>
                        <div class="media-body">
                            <p>{{ item.product.product }}</p>
                        </div>
                    </div>
                </td>
                <td>
                    <h5>₹{{ item.product.price }}</h5>
                </td>
                {% comment %} <td class="text-right">
                        <a href="{ url 'addtocart' item.product.id %}"><i class="lnr lnr-cart fa-lg"></i></a>


                </td> {% endcomment %}
                <td class="text-right">
                    <a href="{% url 'remove_from_wishlist' item.product.id %}"  class="text-danger" onclick="return confirm('Are You Sure ?')"><i class="lnr lnr-trash fa-lg"></i></a>

                </td>
            </div>

            </tr>
                {% endfor %}
                </tbody>
                </table>
        </div>
        {%endif%}
    </div>
</section>
{% endblock %} 